
<script src="~/js/tableCreator.js"></script>
<script src="~/js/simulation.js"></script>
<script src="~/js/directMappedSimulation.js"></script>
<script src="~/js/fullyAssociativeSimulation.js"></script>
<script src="~/js/setAssociativeSimulation.js"></script>
<script src="~/lib/jquery.min.js"></script>
<script src="~/lib/notify.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/Main.css">

<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    @RenderBody()
</body>
