
<table border="1">
    <tr class="gray-highlight" align=center>
        <td></td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
    </tr>
    @{
        var blockCount = 0;
        for (var row = 0; row < 128; row++)
        {
            <tr align="center">
                <td class="gray-highlight">A @row</td>
                @for (var column = 0; column < 8; column++)
                {
                    <td id=@("memory-"+blockCount)>D @blockCount</td>
                    blockCount++;
                }
            </tr>
        }
    }

</table>