@{
    ViewBag.Title = "2 Way Set Associative Cache";
}

<partial name="_NavigationBar">
<partial name="_SimulationInputsSideMenu">

<div id="addressBreakdown">
    <table border="1" width="30%">
        <tr align="center">
            <td>Tag</td>
            <td width="30%">Offset</td>
        </tr>
        <tr id="addressRow" align="center">
            <td><h id="tagValue"></h></td>
            <td><h id="offsetValue"></h></td>
        </tr>
    </table>
</div>

<div id="cacheTableContainer"></div>
<div id="memoryTableContainer"></div>

<script>TableCreator.drawCacheAndMemory(4, 2)</script>
