@{
    ViewBag.Title = "Home";
}

<link rel="stylesheet" href="~/css/Home.css" />

<div class="centered-container">
    <h class="title">Cache Simulator</h>

    <h class="subtitle">Pick a type of cache:</h>
    <ul class="list-group cache-types-list">
        <li class="list-group-item"><a asp-controller="DirectMappedCacheSimulation" asp-action="Index">Direct Mapped</a></li>
        <li class="list-group-item"><a asp-controller="FullyAssociativeCacheSimulation" asp-action="Index">Fully Associative</a></li>
        <li class="list-group-item"><a asp-controller="SetAssociativeCacheSimulation" asp-action="Index" asp-route-setCount="2">2-Way Set Associative</a></li>
        <li class="list-group-item"><a asp-controller="SetAssociativeCacheSimulation" asp-action="Index" asp-route-setCount="4">4-Way Set Associative</a></li>
    </ul>
</div>
