@{
    ViewBag.Title = "Direct Mapped Cache";
    ViewBag.Data = "hello";
}

<partial name="_NavigationBar">
<partial name="_SimulationInputsSideMenu">

<div id="addressBreakdown">
    <table border="1" width="40%">
        <tr align="center">
            <td>Tag</td>
            <td width="40%">Index</td>
        </tr>
        <tr id="addressRow" align="center">
            <td><h id="tagValue"></h></td>
            <td><h id="indexValue"></h></td>
        </tr>
    </table>
</div>


<div id="cacheTableContainer">
    @*default cache*@
    <table border=1 width=100%>
        <tr align=center>
            <td width=15%>Index</td>
            <td width=15%>Valid</td>
            <td>Tag</td>
            <td>Data</td>
        </tr>

        <tr id="cacheRow-0" align=center><td>0</td><td id="valid-0">0</td><td id="tag-0"></td><td id="data-0"></td></tr>
        <tr id="cacheRow-1" align=center><td>1</td><td id="valid-1">0</td><td id="tag-1"></td><td id="data-1"></td></tr>
        <tr id="cacheRow-2" align=center><td>2</td><td id="valid-2">0</td><td id="tag-2"></td><td id="data-2"></td></tr>
        <tr id="cacheRow-3" align=center><td>3</td><td id="valid-3">0</td><td id="tag-3"></td><td id="data-3"></td></tr>
    </table>
</div>


<div id="memoryTableContainer">
    <table border="1">
        @{
            var blockCount = 0;
            for (var row = 0; row < 128; row++)
            {
                <tr align="center">
                    @for (var column = 0; column < 8; column++)
                    {
                        <td id=@("memory-"+blockCount)>B @blockCount</td>
                        blockCount++;
                    }
                </tr>
            }
        }

    </table>
</div>

